<h1 style="color: orange"><strong>BOOOOOOM!!!!!<strong></h1>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<div>
<%= @game.player_2.name %>: <%= @game.player_2.points %>HP
</div>
<div>
<form action="/play">
    <input type="submit" value="Return">
  </form>
</div>
