<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<div>
<%= @game.player_2.name %>: <%= @game.player_2.points %>HP
</div>
<div>
<form action="/attack">
    <input type="submit" value="Submit">
  </form>
</div>

